:root{
  --offcanvas-width:260px;
  --topnavbar-height:56px;
}
#offcanvasExample{
  width: var(--offcanvas-width);
}
body{
  font-family: 'Cairo', sans-serif;
  
}
@media (min-width:992px) {
  body{
    overflow: auto !important;
  }
  .navbar{
    width:calc(99% - var(--offcanvas-width));
  }
  #offcanvasExample{
    transform: none;
    visibility: visible !important;
    top:0;
    height:100vh;
    overflow: hidden;
  }
}
.navlist ul{
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.hall #hallbtn #b1 , #b2{
  height: 150px;
  transition: 0.3s;
}
.hall #hallbtn #b1:hover,#b2:hover{
  transform: scale(1.005);
}


