
.practical{
    background: linear-gradient(135deg, #eec08e, #dcee8e)
}
.theoretical{
    background: linear-gradient(135deg, #ee8ebc, #eea08e)
}
.office_hours{
    background: linear-gradient(135deg, #c08eee, #ee8edc);
}
.academic{
    background: linear-gradient(135deg, #8eeec0, #8edcee)
}
.online{
    background: linear-gradient(135deg, #bcee8e, #8eeea0);
}
.another{
    background: linear-gradient(135deg, #c08eee, #ee8edc);
}